{% extends "base.html" %}

{% comment %} 
    This is a Home page where user comes for first time 

    Cases
    1. User is first time visitor
    2. User has account but not logged in

    Means user has 2 options
    1. if user has no account, create one with signup endpoint
    1. if user has already account, then login with login endpoint

{% endcomment %}


{% comment %} 

    {% block signUpUser %}
                True  <!-- Or you can put any content here, else will be eveluated as false -->
    {% endblock signUpUser %}

{% endcomment %}

{% block signUpUser %}  
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home/signup/">Sign Up</a></li>
{% endblock signUpUser %}

{% block loginUser %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home/login/">Login</a></li>
{% endblock loginUser %}

{% block logoutUser %}
        {% comment %} <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home/logout/"> Logout</a></li>  {% endcomment %}
{% endblock logoutUser %}


{% block title %}Home Page - User{% endblock title %}

{% block body %}
    <div>
        <h1>Welcome to Home Page</h1>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
  
{% endblock body %}